/* Tab */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-top
  > .tab-border-top-container {
  background: linear-gradient(45deg, #ff79c6, #bd93f9, #ff5555, #f1fa8c, #50fa7b, #8be9fd);
  height: 2px;
}

/* Cursor */
.monaco-editor .cursors-layer .cursor {
  background: #12c2e9;
  background: linear-gradient(to top, #ff5555, #c471ed, #64e2e2);
}
