#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=cloudinary
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kjhmgebnpkfokakhmboidifmdglnojhd
Icon=chrome-kjhmgebnpkfokakhmboidifmdglnojhd-Default
StartupWMClass=crx_kjhmgebnpkfokakhmboidifmdglnojhd
