#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=RegExr
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=podpinfbiejmfifmnibhpkcohhobnjdb
Icon=chrome-podpinfbiejmfifmnibhpkcohhobnjdb-Default
StartupWMClass=crx_podpinfbiejmfifmnibhpkcohhobnjdb
