#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Viblo
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=gkpjibhhhopajengglmgkmmmjmnlanhg
Icon=chrome-gkpjibhhhopajengglmgkmmmjmnlanhg-Default
StartupWMClass=crx_gkpjibhhhopajengglmgkmmmjmnlanhg
