#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google AdSense
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=glbcnkdmpgahnppbinmngmdboocmmkgo
Icon=chrome-glbcnkdmpgahnppbinmngmdboocmmkgo-Default
StartupWMClass=crx_glbcnkdmpgahnppbinmngmdboocmmkgo
