// Reset css
#_dcp_root_ {
	* {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		line-height: 1;
		font-family: 'Poppins';
		box-sizing: border-box;
	}

	ol,
	ul {
		list-style: none;
	}

	div,
	p,
	span,
	li,
	input {
		color: var(--base-content);
	}
}
