snippet ! "!important" b
	!important

snippet media "Create media screen" b
	@media only screen and (${1:max}-width: $2px){ $3 }

# ==== Align center ====
snippet center-flex "CSS center with flexbox" b
	display: flex;
	align-items: center;
	justify-content: center;

snippet center-transform "CSS center with transform" b
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
